.venv
*.vscode
__pycache__
*.pyc
.cursorrules
.env
app/results/
results/
generated_data
.claude
old
data
faiss_index_bge
faiss_index_bge_semantic
overleaf-old
*.pdf
overleaf/_minted
*.png
*.latexmkrc
packages/